<div class="masthead h-100">
  <div
    class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center"
  >
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <div>
          <img src="../../../assets/x" width="200px" />
          <h1 class="text-white m-4 pt-2 mx-auto my-0">Aulas virtuales</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">
            Bienvenido a la clínica
          </h2>
          <a class="btn btn-primary w-100 mb-2" [routerLink]="['ingreso']"
            >Ingresar</a
          >
          <a class="btn btn-secondary w-100" [routerLink]="['registro']"
            >Registro</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
